:root {
  --foreground: #2f3136;
  --background: #e5e5e5;
  --secondary: #808080;
  --accent: #2764f3;
  --accent-highlight: #163c90;
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

.secondary {
  color: var(--secondary);
}

a,
a:link,
a:visited {
  color: var(--accent);
}

a:hover {
  color: var(--accent-highlight);
}

blockquote {
  border-left: 2px solid var(--secondary);
}

code {
  background-color: var(--secondary);
}

pre code {
  background-color: transparent;
}

.footnote-definition sup {
  color: var(--secondary);
}

.footnotes {
  border-top: 1px solid var(--secondary);
}

.footnotes-list li {
  color: var(--secondary);

  p {
    color: var(--foreground);
  }
}

hr {
  border: none;
  border-bottom: 1px solid var(--secondary);
}

table {
  th,
  td {
    border-color: var(--secondary);
  }
}
